/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,


body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}




/* Your code starts here! */

/* This code is for Innovation On Demand page */

body {
	margin: 0 20% 0 20%;
	max-width: 40%;
	max-height: 100%;
	min-width: 50%;
}

/* NAV */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	margin: 0 0 35px 0;
}

nav a {
	color: gray;
	text-decoration: none;
}

.box1 {
	display: flex;
	justify-content: space-around;
	width: 55%;
	margin-right: 3%;
}

.box1-a {
	margin-left: 9%;
}

/* HEADER */

header {
	display: flex;
	border-bottom: 2px solid black;
	padding-bottom: 5vh;
	/* width: 50%; */
	align-items: center;
	/* margin-left: 25%; */
}

.box2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.a2 {
	width: 49%;
}

.b2 {
	display: flex;
	justify-content: center;
	width: 49%;
}

.box2.a2 h1 {
	font-size: 500%;
	text-align: center;
}

.btn {
	border: 1px solid black;
	padding: 3px 30px;
}

/* SECTION */

.top-content {
	display: flex;
	padding: 4vh 0;
	align-items: center;
	justify-content: space-between;
}

.box3 {
	width: 49%;
}

.middle-img {
	width: 100%;
	/* margin-left: 25%; */
}

.bottom-content {
	display: flex;
	padding: 3vh 0;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.contact p {
	height: 4vh;
}

footer {
	text-align: center;
	font-size: 13px;
}











@media (max-width: 800px) {

	nav {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-start;

	}

	.box1 {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}



}

@media (max-width: 500px) {

	.box2 b2 {
		display: none;
	}



}